<div class="row flex-center pt-5 mt-3">
  <div class="card wow fadeInRight card-body col-md-5 offset-md-3" data-wow-delay="0.3s">
    <div>
        <!--Header-->
        <div class="text-center">
            <h3 class="white-text">Log In:</h3>
            <hr class="hr-light">
        </div>
        <!--Body-->
        <%= form_tag sessions_path do %>
        <div class="md-form">
            <%= text_field_tag :email, nil, class: "form-control", placeholder: "Email" , id: "form2" %>
            <label for="form2" class="active"></label>
        </div>
        <div class="md-form">
            <%= password_field_tag :password, nil, class: 'form-control', placeholder: "Password", id: "form4" %>
            <label for="form4" class="active"></label>
        </div>
        <div class="text-center">
              <%= submit_tag 'Log in', class: "btn btn-light" %>
              <%= link_to "Don't have an account?", new_user_path, class: "btn btn-light" %>
            <hr class="hr-light mb-3 mt-4">
        </div>
        <% end %>
    </div>
</div>