<h1><%= @hike.name %></h1>
<img src="<%= @hike.photo %>"><br>
Address: <%= @hike.address %><br>
Distance: <%= @hike.distance %> miles<br>
Difficulty Level:<% case @hike.difficulty
    when 1 %> Easy
    <% when 2 %> Moderate
    <% when 3 %> Challenging
    <% when 4 %> Difficult
    <% when 5 %> Very Difficult
    <% end %><br>
<% if @hike.dog_friendly == true %>
Dog-friendly<br>
<% end %>

<% if @user == @hike.user %>
    <button type="button" class="btn">
        <%= link_to "Edit Hike", edit_hike_path %>
    </button> 
    <button type="button" class="btn">
        <%= link_to "Delete Hike", delete_hike_path, {method: 'delete', data: {confirm: "Are you sure?"} } %>
    </button> 
<% end %>

<% if @user != nil %>
    <button type="button" class="btn"><%= link_to "Review Hike", reviews_path, :id => @hike.id %></button> 
<% end %>

<h2>Reviews</h2>
  <% @reviews.each do |r| %>
    <%# need an If statement that only displays reviews with the same hike_id of the show view #%>
    <ul>
      <li>Review: <%= r.body %></li><br>
      <li>Author: <%= r.author %></li><br>
      User Id: <%= r.user_id %><br>
      Hike id: <%= r.hike_id %><br>
      Review id: <%= r.id %><br>
      <li>
        <% if @user != nil and @user.id == r.user_id %>
          <button type="button" class="btn"><%= link_to "Edit Review", edit_review_path(r.id)  %></button> 
          <button type="button" class="btn"><%= link_to "Delete Review", delete_review_path(r.id), {method: 'delete', data: {confirm: "Are you sure?"} } %></button> 
        <% end %>
      </li>
    </ul>
  <% end %>    


