<h1><%= @hike.name %></h1>
<img src="<%= @hike.photo %>"><br>
Address: <%= @hike.address %><br>
Distance: <%= @hike.distance %> miles<br>
Difficulty Level:<% case @hike.difficulty
    when 1 %> Easy
    <% when 2 %> Moderate
    <% when 3 %> Challenging
    <% when 4 %> Difficult
    <% when 5 %> Very Difficult
    <% end %><br>
<% if @hike.dog_friendly == true %>
Dog-friendly<br>
<% end %>

<% if @user == @hike.user %>
<button type="button" class="btn btn-light"><%= link_to "Edit Hike", edit_hike_path %></button> 
<button type="button" class="btn btn-light"><%= link_to "Delete Hike", delete_hike_path, {method: 'delete', data: {confirm: "Are you sure?"} } %></button> 
<% end %>

<h2>Reviews</h2>

<%# @reviews.each do |r| %>
  <%# r.body %>
<%# end %>
<button type="button" class="btn btn-light"><%= link_to "Review Hike", reviews_path, :id => @hike.id %></button> 

<%# if @user == @review.user %>
<button type="button" class="btn btn-light"><%# link_to "Edit Review", edit_review_path %></button> 
<button type="button" class="btn btn-light"><%# link_to "Delete Review", delete_review_path, {method: 'delete', data: {confirm: "Are you sure?"} } %></button> 
<%# end %>
