
<body>                     
    <header>
                        <!--Intro Section-->
        <section class="view intro-2 hm-gradient">
            <div class="full-bg-img">
                <div class="container flex-center">
                    <div class="d-flex align-items-center content-height">
                        <div class="row flex-center pt-5 mt-3">
                            <div class="col-md-6 text-center text-md-left mb-5">
                                <div class="white-text">
                                    <h1 class="h1-responsive font-weight-bold">HIKE LA</h1>
                                    <hr class="hr-light">
                                    <h6>Explore popular hikes in the LA area and track hikes you've completed.</h6>
                                    <br>
                                    <a href="/hikes">Browse Hikes</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-5 offset-xl-1">
                                <!--Form-->
                                <div class="card">
                                    <div class="card-body">
                                        <!--Header-->
                                        <div class="text-center">
                                            <h3 class="white-text">Create Account:</h3>
                                            <hr class="hr-light">
                                        </div>
                                        <!--Body-->
                                        <%= form_for @user do |f| %>
                                        <div class="md-form">
                                                <%= f.text_field :name, class: "form-control", placeholder: "Name", id: "form3"%>
                                            <label for="form3" class="active"></label>
                                        </div>
                                        <div class="md-form">
                                            <%= f.text_field :email, class: "form-control", placeholder: "Email" , id: "form2" %>
                                            <label for="form2" class="active"></label>
                                        </div>

                                        <div class="md-form">
                                            <%= f.password_field :password, class: "form-control", placeholder: "Password", id: "form4" %>
                                            <label for="form4" class="active"></label>
                                        </div>
                                        <div class="md-form">
                                            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
                                            <label for="form4" class="active"></label>
                                        </div>

                                        <div class="text-center">
                                            <%= f.submit "Sign Up", class: "btn btn-light log-in" %>
                                            <%= link_to "Log In", new_session_path, class: "btn btn-light log-in" %>
                                            <hr class="hr-light mb-3 mt-4">
                                        </div>
                                        <% end %>
                                    </div>
                                </div>
                                <!--/.Form-->
                        </div>
                    </div>
                 </div>
            </div>
         </section>
    </header>
</body>
