<div class="row flex-center pt-3 mt-3">
    <h1 class="hike-index-heading"><%= Hike.find(@review.hike_id).name %></h1>
        <div class="container">
        <hr class="hr-light mb-3 mt-4">
            <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Edit Review</h2>
                <%= form_for @review, url: "/reviews/#{@review.id}" do |f| %>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Name</label>
                        <%= f.text_field :author, class: "form-control", placeholder: @review.author %>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Rating</label>
                        <%= f.number_field :hike_rating, class: "form-control", placeholder: @review.hike_rating %>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Review</label>
                        <%= f.text_area :body, class: "form-control", rows: "3", placeholder: @review.body %>
                    </div>
                    <div>
                    <%= submit_tag("Submit") %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
