<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>Review Hike</h1>
    <%= form_for @review do |f| %>
        <div class="form-group">
            <label for="exampleFormControlInput1">Name</label>
            <%= f.text_field :author, class: "form-control", placeholder: "Name" %>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Rating</label>
             <%= f.number_field :hike_rating, class: "form-control", placeholder: "1 (Do not recommend) - 5 (Amazing hike!)" %>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Review</label>
             <%= f.text_area :body, class: "form-control", rows: "3", placeholder: "Your Review Here" %>
        </div>
        <div>
         <%= submit_tag("Submit") %>
        </div>
    <% end %>
  </div>
</div>
