<!DOCTYPE html>
<html>
  <head>
    <title>HikeLaApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render '/partials/flash' %>
    <%= render '/partials/nav_bar' %>
    <div class="bg"></div>  
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
